[Unit]
Description=A small go program, that receives information about animal detections from our python instance and then forwards them to the fog node.
After=network.target

[Service]
WorkingDirectory=/srv/client_hog/
ExecStart=/srv/client_hog/hog

Environment=CLIENT_HOG_CAMERA_IP="localhost:3333"
Environment=CLIENT_HOG_SERVER_IP="localhost:3444"
Environment=CLIENT_HOG_DEVICE_UUID="534"
Environment=CLIENT_HOG_TRACKED_ANIMALS="[\"Bear\",\"Racoon\",\"Gazelle\"]"
Environment=CLIENT_HOG_LOCAL_CONFIG_RECEIVER_PORT=":3555"

[Install]
WantedBy=multi-user.target
